<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpyjG1gofVyyyVFUN2bWZaFG4Fe6uNAr4</string>
	<key>GCM_SENDER_ID</key>
	<string>176815304961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pasalguff.app</string>
	<key>PROJECT_ID</key>
	<string>pasal-guff</string>
	<key>STORAGE_BUCKET</key>
	<string>pasal-guff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176815304961:ios:da7f4640918b635c13eb00</string>
</dict>
</plist>